@media (max-width: 1120px) {
    .hero_area {
        height: auto;
    }

    .hero_btn-box {
        margin-bottom: 150px;
    }


}

@media (max-width: 992px) {
    .custom_nav-container {
        flex-direction: row;
    }
    .product_section .img-box {
        flex: 1 1 32%;
        max-width: 320px;
        min-width: 220px;
    }
}

@media (max-width: 768px) {
    .about_section .about_container .container {
        flex-direction: column;
    }

    .about_section .about_container {
        width: 90%;
    }

    .about_section .about_container .container>div {
        width: 95%;
    }

    .about_section .detail a {
        margin: 25px auto 35px auto;
    }

    .about_section .detail a {

        background-color: #00ff00;
        color: #ffffff;

    }

    .product_section .product_grid {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .product_section .img-box {
        flex: 1 1 90%;
        max-width: 360px;
        margin: 15px 0;
    }

    .client_section .client_container {
        width: 100%;
    }

    .client_section .carousel-indicators {
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .hero_section h1 {
        font-size: 58px;
    }

    .client_section .client_container {
        flex-direction: column;
    }

    .client_section .img_box {
        margin-bottom: 25px;
    }

    .client_section .detail_box {
        flex-direction: column;
        text-align: center;
    }

    .client_section .detail_box h5 {
        flex-direction: row;
    }

}

@media (max-width: 480px) {
    .hero_section h1 {
        font-size: 36px;
    }
}

@media (max-width: 420px) {}

@media (max-width: 360px) {}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
